<div class="wrapper">
  <div class="header">
    Header
  </div>
  <div class="content">
    <p>
      <strong>Nombre:</strong>
      <%= @pokestop.name %>
    </p>

    <p>
      <strong>Latitud:</strong>
      <%= @pokestop.latitude %>
    </p>

    <p>
      <strong>Longitud:</strong>
      <%= @pokestop.longitude %>
    </p>

    <%= link_to 'Edit', edit_pokestop_path(@pokestop) %>
    <%= link_to 'Back', pokestops_path %>
  </div>
  <div class="footer">
    Footer
  </div>
</div>