
<div class="navbar">
  <%= link_to 'Inicio', root_path, {:class=>"active"} %>
  <%= link_to 'Gimnasios', gyms_path %>
  <%= link_to 'Poképaradas', pokestops_path %>
</div>
  <div id="main">
    
    <article>
      <h1>Gimnasios</h1>
    <table>
      <tr>
        <th>Nombre</th>
        <th>Latitud</th>
        <th>Longitud</th>
        <th colspan="2">Acciones</th>
      </tr>
    
      <% @gyms.each do |gym| %>
        <tr>
          <td><%= gym.name %></td>
          <td><%= gym.latitude %></td>
          <td><%= gym.longitude %></td>
          <td><%= link_to 'Show', gym_path(gym) %></td>
          <td><%= link_to 'Edit', edit_gym_path(gym) %></td>
        </tr>
      <% end %>
    </table>
    </article>
  </div>
  <footer>Footer</footer>